/* .container {
  padding: 0 2rem;
} */
#navbar {
  display: flex;
}
.img1 {
  width: 95ch;
  border-radius: 30px;
  border-style:solid;
  border-color: azure;
  
}
.text2 {
  padding: 15px;
  color: aliceblue;
}
.text3 {
  margin-left: 15px;
  padding-bottom: 25ch;
}
.main {
  min-height: 50vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  background-color: #4d03031c;
  display:flex;
  flex: 1;
  padding: 1.5rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  position:fixed;
  bottom: 0;
  width: 100%;
}


.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
.text {
  color: aqua;
}



/* .container2 {
  height: 8ch;
  background-color: white;

  overflow: hidden;
}

.container2 a {
  float: left;
  color: #575656;
  margin-top: 8px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.container2 a:hover {
  margin-top: 0.9ch;
  padding-top: 1.2ch;
  border-radius: 8ch;
  background-color: #ddd;
  color: black;
}

.container2 a.home {
  box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
  margin-top: 0.9ch;
  padding-top: 1ch;
  border-radius: 8ch;
  background-color: #383838;
  color: white;
}

.container2 a.login {
  margin-top: 0.9ch;
  padding-top: 1.2ch;
  border-radius: 8ch;
  background-color: #383838;
  color: rgb(24, 184, 233);
  float:right;
}
.container2 a.home:hover{
  color:rgb(170, 241, 163);
  background-color: #fa5687;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);

}
.container2 a.login:hover{
  color:rgb(170, 241, 163);
  background-color: #5243df;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);

}


#searchbar2 {

  height: 1.7rem;
  background: #f5f5f5;
  outline: none;
  border: none;
  border-bottom-left-radius: 1.625rem;
  border-top-left-radius: 1.625rem;

  font-size: 0.9rem;
  padding: 0 2rem 0 1.2rem;
  float: right;
  margin-top: 2.8ch;

}
#button2 {

height: 1.7rem;
background: #f5f5f5;
outline: none;
border: none;
border-bottom-right-radius: 1.625rem;
border-top-right-radius: 1.625rem;
font-size: 0.9rem;
padding: 0 0.9rem 0 0.6rem;
float: right;
margin-top: 2.8ch;

} */